{% if is_card %}
{{ html_url(post.path, post.title or __('post.untitled'), { class: 'random-link', itemprop: 'url' }) }}
{% else %}
<div class="post-block">
  <article itemscope itemtype="http://schema.org/Article" class="post-content" lang="{{ post.lang }}">
    {% if post.header !== false %}
    <header class="post-header">
      <{% if is_index %}h2{% else %}h1{% endif %}
        class="post-title{% if post.direction and post.direction.toLowerCase() === 'rtl' %} rtl{% endif %}"
        itemprop="name headline">
        {% if post.link %}
        {% set postText = post.title or post.link %}
        {{ html_url(post.link, postText, { class: 'post-title-link', itemprop: 'url' }) }}
        {% elif is_index %}
        {{ html_url(post.path, post.title or __('post.untitled'), { class: 'post-title-link', itemprop: 'url' }) }}
        {% else %}
        {{ post.title }}
        {% endif %}
      </{% if is_index %}h2{% else %}h1{% endif %}>
      <div class="post-meta-container">
        {{ partial('_partials/post/post-meta.njk') }}
      </div>
    </header>
    {% endif %}
    <div class="post-body{% if post.direction and post.direction.toLowerCase() === 'rtl' %} rtl{% endif %}"
      itemprop="articleBody">
      {% if is_index and post.excerpt %}
      {{ post.excerpt }}
      <p style="text-align: center;">
        {{ html_url(post.path, '阅读全文', { class: 'read-more' }) }}
      </p>
      {% else %}
      {{ post.content }}
      {% endif %}
    </div>
    <footer class="post-footer">
      {% if is_index %}
      <div class="post-eof"></div>
      {% else %}
      {%- if theme.creative_commons.license and theme.creative_commons.post and post.copyright !== false %}
      {{ partial('_partials/post/post-copyright.njk') }}
      {%- endif %}
      {% if theme.giscus.enable and post.comments %}
      <script src="https://giscus.app/client.js" data-repo="{{ theme.giscus.repo }}"
        data-category="{{ theme.giscus.category }}" data-mapping="{{ theme.giscus.mapping }}"
        data-strict="{{ theme.giscus.strict }}" data-reactions-enabled="{{ theme.giscus.reactions_enabled }}"
        data-emit-metadata="{{ theme.giscus.emit_metadata }}" data-input-position="{{ theme.giscus.input_position }}"
        data-theme="preferred_color_scheme" data-lang="{{ post.lang }}" crossorigin="anonymous" async
        data-pjax></script>
      {% endif %}
      <div class="post-nav">
        <div class="post-nav-item post-nav-item-prev">
          {% if post.prev %}
          <a href="{{ url_for(post.prev.path) }}" rel="prev" title="{{ post.prev.title }}">
            {{ fluent_icon("CaretLeft", 16, "Filled") }} {{ post.prev.title }}
          </a>
          {% endif %}
        </div>
        <div class="post-nav-item post-nav-item-next">
          {% if post.next %}
          <a href="{{ url_for(post.next.path) }}" rel="next" title="{{ post.next.title }}">
            {{ post.next.title }} {{ fluent_icon("CaretRight", 16, "Filled") }}
          </a>
          {% endif %}
        </div>
      </div>
      {% if post.tags and post.tags.length %}
      <div class="post-tags">
        {% for tag in post.tags.toArray() %}
        <a href="{{ url_for(tag.path) }}" rel="tag">
          {{ fluent_icon("Tag", 16, "Filled") }} {{ tag.name }}
        </a>
        {% endfor %}
      </div>
      {% endif %}
      {% endif %}
    </footer>
  </article>
</div>
{% endif %}