:root {
  scroll-padding: 48px 0 40px 0;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

html {
  font-family: $body-font;
}

body {
  margin: 0;
  height: 100%;
  font-size: $body-text-block-font-size;
  line-height: 1.5;
  font-weight: 400;
  font-family: $body-font;
  color: $text-fill-color-primary;
  background: $solid-background-fill-color-base;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  +dark() {
    color: $text-fill-color-primary-dark;
    background: $solid-background-fill-color-base-dark;
  }
}

blockquote {
  border-left: 5px solid $accent-fill-color-default;
  border-right: none;
  font-style: italic;
  padding: 2px 15px;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;

  [dir='rtl'] & {
    border-left: none;
    border-left: 5px solid $accent-fill-color-default;
  }

  +dark() {
    border-left: 5px solid $accent-fill-color-default-dark;

    [dir='rtl'] & {
      border-left: 5px solid $accent-fill-color-default-dark;
    }
  }
}

a {
  color: $accent-text-fill-color-primary;
  text-decoration: none;

  &:hover {
    color: $accent-text-fill-color-secondary;
  }

  &:active {
    color: $accent-text-fill-color-tertiary;
  }

  &:not([href]),
  &:not([href]):hover {
    color: $accent-text-fill-color-disabled;
  }

  +dark() {
    color: $accent-text-fill-color-primary-dark;

    &:hover {
      color: $accent-text-fill-color-secondary-dark;
    }

    &:active {
      color: $accent-text-fill-color-tertiary-dark;
    }

    &:not([href]),
    &:not([href]):hover {
      color: $accent-text-fill-color-disabled-dark;
    }
  }
}

kbd {
  border: 1px solid $accent-fill-color-default;

  +dark() {
    border: 1px solid $accent-fill-color-default-dark;
  }
}

embed,
iframe,
img,
video {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}