{% extends '_layout.njk' %}

{% block title %}{{ config.title }}{% if config.subtitle %} - {{ config.subtitle }}{% endif %}{% endblock %}

{% block class %}index posts-expand{% endblock %}

{% block cover %}
{% if not page.prev %}
<div class="index-hover">
  <div class="index-card">
    <h1>{{ config.title }}</h1>
    {% if theme.avatar.url %}
    <div class="avatar-container">
      <img class="avatar" src="{{ url_for(theme.avatar.url) }}" alt="{{ config.author }}">
    </div>
    {% endif %}
    {% if config.subtitle %}
    <p>———— {{ config.subtitle }} ————</p>
    {% endif %}
    {% if config.description %}
    <p>{{ config.description }}</p>
    {% endif %}
    <!-- 文章列表 -->
    <div class="articles">
      <h2 class="title">我的文章</h2>
      {% for post in page.posts.toArray() %}
      {{ partial('_macro/post.njk', { post: post, is_card: true }) }}
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div>
  {% for post in page.posts.toArray() %}
  {{ partial('_macro/post.njk', { post: post, is_index: true}) }}
  {% endfor %}
</div>
{% include '_partials/pagination.njk' %}
{% endblock %}