//
// Variables
// ==================================================

// Typography
// Font, line-height, and elements colors.
// --------------------------------------------------

// Font families.
$font-family-chinese = 'PingFang SC', 'Microsoft YaHei';

$font-family-monospace = "Cascadia Code NF", "Cascadia Code PL", "Cascadia Code", consolas, Menlo, monospace, $font-family-chinese;

// Code & Code Blocks
// --------------------------------------------------
$code-font-family = $font-family-monospace;

$highlight-background = convert(hexo-config('highlight.light.background'));
$highlight-foreground = convert(hexo-config('highlight.light.foreground'));
$highlight-gutter-background = mix($highlight-background, $highlight-foreground, 90%);
$highlight-gutter-foreground = mix($highlight-background, $highlight-foreground, 10%);

$highlight-background-dark = convert(hexo-config('highlight.dark.background'));
$highlight-foreground-dark = convert(hexo-config('highlight.dark.foreground'));
$highlight-gutter-background-dark = mix($highlight-background-dark, $highlight-foreground-dark, 90%);
$highlight-gutter-foreground-dark = mix($highlight-background-dark, $highlight-foreground-dark, 10%);
