$system-accent-color = #4ecdc4
$system-accent-color-dark1 = #3ac7bd
$system-accent-color-dark2 = #36b1a9
$system-accent-color-dark3 = #2d968f
$system-accent-color-light1 = #52e1d7
$system-accent-color-light2 = #55f8ec
$system-accent-color-light3 = #86eae3

$text-fill-color-primary = #000000E4
$text-fill-color-secondary = #0000009E
$text-fill-color-tertiary = #00000072
$text-fill-color-disabled = #0000005C
$text-fill-color-inverse = #FFFFFF

$accent-text-fill-color-primary = $system-accent-color-dark2
$accent-text-fill-color-secondary = $system-accent-color-dark3
$accent-text-fill-color-tertiary = $system-accent-color-dark1
$accent-text-fill-color-disabled = #0000005C

$card-background-fill-color-default = #FFFFFFB3

$control-stroke-color-default = #0000000F

$solid-background-fill-color-base = #F3F3F3

$text-fill-color-primary-dark = #FFFFFF
$text-fill-color-secondary-dark = #FFFFFFC5
$text-fill-color-tertiary-dark = #FFFFFF87
$text-fill-color-disabled-dark = #FFFFFF5D
$text-fill-color-inverse-dark = #000000E4

$accent-text-fill-color-primary-dark = $system-accent-color-light3
$accent-text-fill-color-secondary-dark = $system-accent-color-light3
$accent-text-fill-color-tertiary-dark = $system-accent-color-light2
$accent-text-fill-color-disabled-dark = #FFFFFF5D

$card-background-fill-color-default-dark = #FFFFFF0D

$control-stroke-color-default-dark = #FFFFFF12

$solid-background-fill-color-base-dark = #202020

$control-corner-radius = 4px
$overlay-corner-radius = 8px

$body-font = Segoe UI Variable, Segoe UI, sans-serif;
$font-family-monospace = "Cascadia Code NF", "Cascadia Code PL", "Cascadia Code", Consolas, "Courier New", "Liberation Mono", SFMono-Regular, Menlo, Monaco, monospace;

$code-font-family = $font-family-monospace;

$highlight-background = convert(hexo-config('highlight.light.background'));
$highlight-foreground = convert(hexo-config('highlight.light.foreground'));
$highlight-gutter-background = mix($highlight-background, $highlight-foreground, 90%);
$highlight-gutter-foreground = mix($highlight-background, $highlight-foreground, 10%);

$highlight-background-dark = convert(hexo-config('highlight.dark.background'));
$highlight-foreground-dark = convert(hexo-config('highlight.dark.foreground'));
$highlight-gutter-background-dark = mix($highlight-background-dark, $highlight-foreground-dark, 90%);
$highlight-gutter-foreground-dark = mix($highlight-background-dark, $highlight-foreground-dark, 10%);
