$code-inline {
  background: $highlight-background;
  color: $highlight-foreground;

  +dark() {
    background: $highlight-background-dark;
    color: $highlight-foreground-dark;
  }
}

$code-block {
  @extend $code-inline;
  margin: 0 auto 20px;
}

pre,
code,
kbd,
samp {
  font-size: 0.875em;
  font-family: $code-font-family;
}

mark,
code,
kbd {
  padding: 0.10rem 0.25rem;
  color: $highlight-foreground;
  background: $highlight-background;
  border-radius: 0.25rem;

  +dark() {
    color: $highlight-foreground-dark;
    background-color: $highlight-background-dark;
  }

  +supports-light-dark() {
    color: light-dark($highlight-foreground, $highlight-foreground-dark);
    background-color: light-dark($highlight-background, $highlight-background-dark);
  }
}

a>code {
  font-size: inherit;
  color: inherit;
  padding: 0;
  background: none;
  border-radius: 0;
}

figure.highlight {
  @extend $code-block;
  overflow: auto;
  position: relative;

  color-scheme: light;

  +dark() {
    color-scheme: dark;
  }

  pre {
    border: 0;
    margin: 0;
    padding: 10px 0;
  }

  table {
    border: 0;
    margin: 0;
    width: auto;
  }

  td {
    border: 0;
    padding: 0;
  }

  .gutter {
    disable-user-select();

    pre {
      background: $highlight-gutter-background;
      color: $highlight-gutter-foreground;
      padding-left: 10px;
      padding-right: 10px;
      text-align: right;

      +dark() {
        background: $highlight-gutter-background-dark;
        color: $highlight-gutter-foreground-dark;
      }
    }
  }

  .code pre {
    padding-left: 10px;
    width: 100%;
  }

  .marked {
    background: rgba(0, 0, 0, .3);
  }
}