.posts-expand .post-header {
  margin-bottom: 20px;
  text-align: center;

  +desktop-large() {
    margin-bottom: 40px;
  }

  +mobile-small() {
    margin-bottom: 10px;
  }
}

.posts-expand .post-title {
  margin: initial;
  word-wrap();
}