:root {
  --highlight-background: $highlight-background;
  --highlight-foreground: $highlight-foreground;
  --highlight-gutter-background: $highlight-gutter-background;
  --highlight-gutter-foreground: $highlight-gutter-foreground;

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  color-scheme: light;

  +dark() {
    --highlight-background: $highlight-background-dark;
    --highlight-foreground: $highlight-foreground-dark;
    --highlight-gutter-background: $highlight-gutter-background-dark;
    --highlight-gutter-foreground: $highlight-gutter-foreground-dark;

    color-scheme: dark;
  }
}