mobile-smallest() {
  @media (max-width: 413px) {
    {block};
  }
}

mobile-small() {
  @media (max-width: 567px) {
    {block};
  }
}

mobile() {
  @media (max-width: 767px) {
    {block};
  }
}

tablet-mobile() {
  @media (max-width: 991px) {
    {block};
  }
}

tablet-desktop() {
  @media (min-width: 768px) {
    {block};
  }
}

tablet() {
  @media (min-width: 768px) and (max-width: 991px) {
    {block};
  }
}

desktop() {
  @media (min-width: 992px) {
    {block};
  }
}

desktop-large() {
  @media (min-width: 1200px) {
    {block};
  }
}

desktop-largest() {
  @media (min-width: 1600px) {
    {block};
  }
}

light() {
  @media (prefers-color-scheme: light) {
    {block};
  }
}

dark() {
  @media (prefers-color-scheme: dark) {
    {block};
  }
}

word-wrap() {
  overflow-wrap: break-word;
}

disable-user-select() {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

round-icon($diameter) {
  border-radius: 50%;
  content: ' ';
  height: $diameter;
  width: $diameter;
}

badge() {
  background: $accent-fill-color-default;
  border-radius: 10px;
  color: $text-on-accent-fill-color-primary;
  font-weight: bold;
  line-height: 1;
  margin-left: .35em;
  padding: 0 4px 2px 4px;

  +dark() {
    background: $accent-fill-color-default-dark;
    color: $text-on-accent-fill-color-primary-dark;
  }
}

soild-linear-gradient($color) {
  linear-gradient($color, $color)
}

border-image-border($background, $border, $border-width) {
  border: $border-width solid transparent;
  background: $background;
  background: padding-box soild-linear-gradient($background), border-box $border;
}