@import '_variables/base';
@import '_colors.styl';
@import './_common/scaffolding/highlight/index.styl';

body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #fff;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}