@import 'menu';

.header-container {
  height: 48px;

  .titlebar {
    background: rgb(blend($card-background-fill-color-default, $solid-background-fill-color-base));

    +dark() {
      background: rgb(blend($card-background-fill-color-default-dark, $solid-background-fill-color-base-dark));
    }
  }

  .titlebar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: $card-background-fill-color-default;
    backdrop-filter: blur(40px);
    padding: env(titlebar-area-y, 0) calc(100vw - env(titlebar-area-width, 100vw) - env(titlebar-area-x, 0px)) 0 env(titlebar-area-x, 0);
    -webkit-app-region: drag;
    app-region: drag;

    +dark() {
      background: $card-background-fill-color-default-dark;
    }

    +supports-light-dark() {
      background: light-dark($card-background-fill-color-default, $card-background-fill-color-default-dark);
    }

    .header-inner {
      display: flex;
      justify-content: space-between;
      padding: 0 4px;
      overflow-x: auto;

      .header-left {
        float: left;
        -webkit-app-region: no-drag;
        app-region: no-drag;
      }

      .header-right {
        float: right;
        -webkit-app-region: no-drag;
        app-region: no-drag;
      }
    }
  }
}