@import 'menu';

.header-container {
  height: 48px;

  .titlebar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: $card-background-fill-color-default;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    padding: env(titlebar-area-y, 0) calc(100vw - env(titlebar-area-width, 100vw)) 0 env(titlebar-area-x, 0);
    -webkit-app-region: drag;

    +dark() {
      background: $card-background-fill-color-default-dark;
    }

    .header-inner {
      display: flex;
      justify-content: space-between;
      padding: 0 4px;

      .header-left {
        float: left;
        -webkit-app-region: no-drag;
      }

      .header-right {
        float: right;
        -webkit-app-region: no-drag;
      }
    }
  }
}

.menu-item-search {
  fill: currentColor;

  a {
    svg {
      margin-bottom: -4px;
    }
  }
}