.menu {
  margin: 0;
}

.main-menu {
  display: flex;
  align-items: center;
  padding: 0 4px;
}

.menu-item {
  display: inline;
  list-style: none;
  position: relative;

  a {
    padding: 0 12px;
    line-height: 48px;
    color: $text-fill-color-primary;

    svg {
      display: none;
      margin-bottom: -5px;
      fill: currentColor;

      +tablet-desktop() {
        display: inline;
        margin-right: 4px;
      }
    }

    +mobile-smallest() {
      svg {
        display: inline;
      }

      .title {
        display: none;
      }
    }

    &:hover {
      color: $text-fill-color-secondary;
    }

    &:active {
      color: $text-fill-color-tertiary;
    }

    &:not([href]),
    &:not([href]):hover {
      color: $text-fill-color-disabled;
    }

    &.menu-item-active::after {
      content: '';
      position: absolute;
      left: calc(50% - 8px);
      width: 16px;
      height: 3px;
      margin-top: 38px;
      border-radius: 2px;
      background-color: $accent-fill-color-default;
    }

    .badge {
      line-height: normal;
      min-width: 14px;
      height: 14px;
      position: absolute;
      right: -1px;
      text-align: center;
      border-radius: 8px;
      padding: 1px;
      margin-top: 9px;
      background-color: $accent-fill-color-default;
      color: $text-on-accent-fill-color-primary;
      font-size: 9.5px;
    }

    +dark() {
      color: $text-fill-color-primary-dark;

      &:hover {
        color: $text-fill-color-secondary-dark;
      }

      &:active {
        color: $text-fill-color-tertiary-dark;
      }

      &:not([href]),
      &:not([href]):hover {
        color: $text-fill-color-disabled-dark;
      }

      &.menu-item-active::after {
        background-color: $accent-fill-color-default-dark;
      }

      .badge {
        background-color: $accent-fill-color-default-dark;
        color: $text-on-accent-fill-color-primary-dark;
      }
    }

    @media (max-width: 235px) {
      &.menu-item-active {
        color: $accent-fill-color-default;

        +dark() {
          color: $accent-fill-color-default-dark;
        }
      }

      .badge,
      &.menu-item-active::after {
        display: none;
      }
    }
  }

  &.menu-item-search a svg {
    display: inline;
    margin-right: 0;
  }
}