<div class="search-pop-overlay">
  <div class="popup search-popup">
    <div class="search-header">
      <h2 class="search-title">搜索</h2>
      <button class="popup-btn-close" title="关闭" type="button">
        {{ fluent_icon('Dismiss', 16) }}
      </button>
    </div>
    <div class="search-input-container">
      <input class="search-input" autocomplete="off" autocapitalize="off" maxlength="80" placeholder="输入内容以搜索"
        spellcheck="false" type="search">
      <span class="search-icon">
        {{ fluent_icon('Search', 12) }}
      </span>
    </div>
    <div class="search-result-container">
      <div class="search-result-icon">
      </div>
    </div>
  </div>
</div>