<header class="header" itemtype="http://schema.org/WPHeader">
  <div class="titlebar">
    <div class="header-inner">
      <div class="header-left">
        {% include './menu.njk' %}
      </div>
      <div class="header-right">
        <li class="menu-item menu-item-search">
          <a class="popup-trigger" title="搜索" href="/search" role="button">{{ fluent_icon("Search") }}</a>
        </li>
      </div>
    </div>
  </div>
</header>