$accent-button-background = $accent-fill-color-default
$accent-button-background-pointer-over = $accent-fill-color-secondary
$accent-button-background-pressed = $accent-fill-color-tertiary
$accent-button-background-disabled = $accent-fill-color-disabled
$accent-button-foreground = $text-on-accent-fill-color-primary
$accent-button-foreground-pointer-over = $text-on-accent-fill-color-primary
$accent-button-foreground-pressed = $text-on-accent-fill-color-secondary
$accent-button-foreground-disabled = $text-on-accent-fill-color-disabled
$accent-button-border-brush = $accent-control-elevation-border-brush
$accent-button-border-brush-pointer-over = $accent-control-elevation-border-brush
$accent-button-border-brush-pressed = $control-fill-color-transparent
$accent-button-border-brush-disabled = $control-fill-color-transparent

accent-button-border-brush($background, $border-width) {
  accent-control-elevation-border($background, $border-width)
}

$button-background = $control-fill-color-default
$button-background-pointer-over = $control-fill-color-secondary
$button-background-pressed = $control-fill-color-tertiary
$button-background-disabled = $control-fill-color-disabled
$button-foreground = $text-fill-color-primary
$button-foreground-pointer-over = $text-fill-color-primary
$button-foreground-pressed = $text-fill-color-secondary
$button-foreground-disabled = $text-fill-color-disabled
$button-border-brush = $control-elevation-border-brush
$button-border-brush-pointer-over = $control-elevation-border-brush
$button-border-brush-pressed = $control-stroke-color-default
$button-border-brush-disabled = $control-stroke-color-default

button-border($background, $border-width) {
  border-image-border($background, $button-border-brush, $border-width)
}

$accent-button-background-dark = $accent-fill-color-default-dark
$accent-button-background-pointer-over-dark = $accent-fill-color-secondary-dark
$accent-button-background-pressed-dark = $accent-fill-color-tertiary-dark
$accent-button-background-disabled-dark = $accent-fill-color-disabled-dark
$accent-button-foreground-dark = $text-on-accent-fill-color-primary-dark
$accent-button-foreground-pointer-over-dark = $text-on-accent-fill-color-primary-dark
$accent-button-foreground-pressed-dark = $text-on-accent-fill-color-secondary-dark
$accent-button-foreground-disabled-dark = $text-on-accent-fill-color-disabled-dark
$accent-button-border-brush-dark = $accent-control-elevation-border-brush-dark
$accent-button-border-brush-pointer-over-dark = $accent-control-elevation-border-brush-dark
$accent-button-border-brush-pressed-dark = $control-fill-color-transparent-dark
$accent-button-border-brush-disabled-dark = $control-fill-color-transparent-dark

accent-button-border-brush-dark($background, $border-width) {
  accent-control-elevation-border-dark($background, $border-width)
}

$button-background-dark = $control-fill-color-default-dark
$button-background-pointer-over-dark = $control-fill-color-secondary-dark
$button-background-pressed-dark = $control-fill-color-tertiary-dark
$button-background-disabled-dark = $control-fill-color-disabled-dark
$button-foreground-dark = $text-fill-color-primary-dark
$button-foreground-pointer-over-dark = $text-fill-color-primary-dark
$button-foreground-pressed-dark = $text-fill-color-secondary-dark
$button-foreground-disabled-dark = $text-fill-color-disabled-dark
$button-border-brush-dark = $control-elevation-border-brush-dark
$button-border-brush-pointer-over-dark = $control-elevation-border-brush-dark
$button-border-brush-pressed-dark = $control-stroke-color-default-dark
$button-border-brush-disabled-dark = $control-stroke-color-default-dark

button-border-dark($background, $border-width) {
  border-image-border($background, $button-border-brush-dark, $border-width)
}

$button-border-theme-thickness = 1px
$button-padding = 6px 11px

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
select {
  color: rgb(blend($button-foreground, blend($button-background, $solid-background-fill-color-base)));
  background: rgb(blend($button-background, $solid-background-fill-color-base));
  border-left: $button-border-theme-thickness solid rgb(blend($control-stroke-color-default, $solid-background-fill-color-base));
  border-top: $button-border-theme-thickness solid rgb(blend($control-stroke-color-default, $solid-background-fill-color-base));
  border-right: $button-border-theme-thickness solid rgb(blend($control-stroke-color-default, $solid-background-fill-color-base));
  border-bottom: $button-border-theme-thickness solid rgb(blend($control-stroke-color-secondary, $solid-background-fill-color-base));

  &:not(:disabled):hover {
    color: rgb(blend($button-foreground-pointer-over, blend($button-background-pointer-over, $solid-background-fill-color-base)));
    background: rgb(blend($button-background-pointer-over, $solid-background-fill-color-base));
  }

  &:not(:disabled):active {
    color: rgb(blend($button-foreground-pressed, blend($button-background-pressed, $solid-background-fill-color-base)));
    background: rgb(blend($button-background-pressed, $solid-background-fill-color-base));
    border: $button-border-theme-thickness solid rgb(blend($button-border-brush-pressed, $solid-background-fill-color-base));
  }

  &:disabled {
    color: rgb(blend($button-foreground-disabled, blend($button-background-disabled, $solid-background-fill-color-base)));
    background: rgb(blend($button-background-disabled, $solid-background-fill-color-base));
    border: $button-border-theme-thickness solid rgb(blend($button-border-brush-disabled, $solid-background-fill-color-base));
  }

  +dark() {
    color: rgb(blend($button-foreground-dark, blend($button-background-dark, $solid-background-fill-color-base-dark)));
    background: rgb(blend($button-background-dark, $solid-background-fill-color-base-dark));
    border-left: $button-border-theme-thickness solid rgb(blend($control-stroke-color-default-dark, $solid-background-fill-color-base-dark));
    border-top: $button-border-theme-thickness solid rgb(blend($control-stroke-color-secondary-dark, $solid-background-fill-color-base-dark));
    border-right: $button-border-theme-thickness solid rgb(blend($control-stroke-color-default-dark, $solid-background-fill-color-base-dark));
    border-bottom: $button-border-theme-thickness solid rgb(blend($control-stroke-color-default-dark, $solid-background-fill-color-base-dark));

    &:not(:disabled):hover {
      color: rgb(blend($button-foreground-pointer-over-dark, blend($button-background-pointer-over-dark, $solid-background-fill-color-base-dark)));
      background: rgb(blend($button-background-pointer-over-dark, $solid-background-fill-color-base-dark));
    }

    &:not(:disabled):active {
      color: rgb(blend($button-foreground-pressed-dark, blend($button-background-pressed-dark, $solid-background-fill-color-base-dark)));
      background: rgb(blend($button-background-pressed-dark, $solid-background-fill-color-base-dark));
      border: $button-border-theme-thickness solid rgb(blend($button-border-brush-pressed-dark, $solid-background-fill-color-base-dark));
    }

    &:disabled {
      color: rgb(blend($button-foreground-disabled-dark, blend($button-background-disabled-dark, $solid-background-fill-color-base-dark)));
      background: rgb(blend($button-background-disabled-dark, $solid-background-fill-color-base-dark));
      border: $button-border-theme-thickness solid rgb(blend($button-border-brush-disabled-dark, $solid-background-fill-color-base-dark));
    }
  }

  &.accent {
    color: rgb(blend($accent-button-foreground, blend($accent-button-background, $solid-background-fill-color-base)));
    background: rgb(blend($accent-button-background, $solid-background-fill-color-base));
    border-left: $button-border-theme-thickness solid rgb(blend($control-stroke-color-on-accent-default, $solid-background-fill-color-base));
    border-top: $button-border-theme-thickness solid rgb(blend($control-stroke-color-on-accent-default, $solid-background-fill-color-base));
    border-right: $button-border-theme-thickness solid rgb(blend($control-stroke-color-on-accent-default, $solid-background-fill-color-base));
    border-bottom: $button-border-theme-thickness solid rgb(blend($control-stroke-color-on-accent-secondary, $solid-background-fill-color-base));

    &:not(:disabled):hover {
      color: rgb(blend($accent-button-foreground-pointer-over, blend($accent-button-background-pointer-over, $solid-background-fill-color-base)));
      background: rgb(blend($accent-button-background-pointer-over, $solid-background-fill-color-base));
    }

    &:not(:disabled):active {
      color: rgb(blend($accent-button-foreground-pressed, blend($accent-button-background-pressed, $solid-background-fill-color-base)));
      background: rgb(blend($accent-button-background-pressed, $solid-background-fill-color-base));
      border: $button-border-theme-thickness solid rgb(blend($accent-button-border-brush-pressed, $solid-background-fill-color-base));
    }

    &:disabled {
      color: rgb(blend($accent-button-foreground-disabled, blend($accent-button-background-disabled, $solid-background-fill-color-base)));
      background: rgb(blend($accent-button-background-disabled, $solid-background-fill-color-base));
      border: $button-border-theme-thickness solid rgb(blend($accent-button-border-brush-disabled, $solid-background-fill-color-base));
    }

    +dark() {
      color: rgb(blend($accent-button-foreground-dark, blend($accent-button-background-dark, $solid-background-fill-color-base-dark)));
      background: rgb(blend($accent-button-background-dark, $solid-background-fill-color-base-dark));
      border-left: $button-border-theme-thickness solid rgb(blend($control-stroke-color-on-accent-default-dark, $solid-background-fill-color-base-dark));
      border-top: $button-border-theme-thickness solid rgb(blend($control-stroke-color-on-accent-default-dark, $solid-background-fill-color-base-dark));
      border-right: $button-border-theme-thickness solid rgb(blend($control-stroke-color-on-accent-default-dark, $solid-background-fill-color-base-dark));
      border-bottom: $button-border-theme-thickness solid rgb(blend($control-stroke-color-on-accent-secondary-dark, $solid-background-fill-color-base-dark));

      &:not(:disabled):hover {
        color: rgb(blend($accent-button-foreground-pointer-over-dark, blend($accent-button-background-pointer-over-dark, $solid-background-fill-color-base-dark)));
        background: rgb(blend($accent-button-background-pointer-over-dark, $solid-background-fill-color-base-dark));
      }

      &:not(:disabled):active {
        color: rgb(blend($accent-button-foreground-pressed-dark, blend($accent-button-background-pressed-dark, $solid-background-fill-color-base-dark)));
        background: rgb(blend($accent-button-background-pressed-dark, $solid-background-fill-color-base-dark));
        border: $button-border-theme-thickness solid rgb(blend($accent-button-border-brush-pressed-dark, $solid-background-fill-color-base-dark));
      }

      &:disabled {
        color: rgb(blend($accent-button-foreground-disabled-dark, blend($accent-button-background-disabled-dark, $solid-background-fill-color-base-dark)));
        background: rgb(blend($accent-button-background-disabled-dark, $solid-background-fill-color-base-dark));
        border: $button-border-theme-thickness solid rgb(blend($accent-button-border-brush-disabled-dark, $solid-background-fill-color-base-dark));
      }
    }
  }
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
select {
  padding: $button-padding;
  color: $button-foreground;
  border-radius: $control-corner-radius;
  background: padding-box $button-background;
  border-left: $button-border-theme-thickness solid $control-stroke-color-default;
  border-top: $button-border-theme-thickness solid $control-stroke-color-default;
  border-right: $button-border-theme-thickness solid $control-stroke-color-default;
  border-bottom: $button-border-theme-thickness solid $control-stroke-color-secondary;

  &:not(:disabled):hover {
    color: $button-foreground-pointer-over;
    background: padding-box $button-background-pointer-over;
  }

  &:not(:disabled):active {
    color: $button-foreground-pressed;
    background: padding-box $button-background-pressed;
    border: $button-border-theme-thickness solid $button-border-brush-pressed;
  }

  &:disabled {
    color: $button-foreground-disabled;
    background: padding-box $button-background-disabled;
    border: $button-border-theme-thickness solid $button-border-brush-disabled;
  }

  +dark() {
    color: $button-foreground-dark;
    background: padding-box $button-background-dark;
    border-left: $button-border-theme-thickness solid $control-stroke-color-default-dark;
    border-top: $button-border-theme-thickness solid $control-stroke-color-secondary-dark;
    border-right: $button-border-theme-thickness solid $control-stroke-color-default-dark;
    border-bottom: $button-border-theme-thickness solid $control-stroke-color-default-dark;

    &:not(:disabled):hover {
      color: $button-foreground-pointer-over-dark;
      background: padding-box $button-background-pointer-over-dark;
    }

    &:not(:disabled):active {
      color: $button-foreground-pressed-dark;
      background: padding-box $button-background-pressed-dark;
      border: $button-border-theme-thickness solid $button-border-brush-pressed-dark;
    }

    &:disabled {
      color: $button-foreground-disabled-dark;
      background: padding-box $button-background-disabled-dark;
      border: $button-border-theme-thickness solid $button-border-brush-disabled-dark;
    }
  }

  &.accent {
    color: $accent-button-foreground;
    background: $accent-button-background;
    border-left: $button-border-theme-thickness solid $control-stroke-color-on-accent-default;
    border-top: $button-border-theme-thickness solid $control-stroke-color-on-accent-default;
    border-right: $button-border-theme-thickness solid $control-stroke-color-on-accent-default;
    border-bottom: $button-border-theme-thickness solid $control-stroke-color-on-accent-secondary;

    &:not(:disabled):hover {
      color: $accent-button-foreground-pointer-over;
      background: $accent-button-background-pointer-over;
    }

    &:not(:disabled):active {
      color: $accent-button-foreground-pressed;
      background: $accent-button-background-pressed;
      border: $button-border-theme-thickness solid $accent-button-border-brush-pressed;
    }

    &:disabled {
      color: $accent-button-foreground-disabled;
      background: $accent-button-background-disabled;
      border: $button-border-theme-thickness solid $accent-button-border-brush-disabled;
    }

    +dark() {
      color: $accent-button-foreground-dark;
      background: $accent-button-background-dark;
      border-left: $button-border-theme-thickness solid $control-stroke-color-on-accent-default-dark;
      border-top: $button-border-theme-thickness solid $control-stroke-color-on-accent-default-dark;
      border-right: $button-border-theme-thickness solid $control-stroke-color-on-accent-default-dark;
      border-bottom: $button-border-theme-thickness solid $control-stroke-color-on-accent-secondary-dark;

      &:not(:disabled):hover {
        color: $accent-button-foreground-pointer-over-dark;
        background: $accent-button-background-pointer-over-dark;
      }

      &:not(:disabled):active {
        color: $accent-button-foreground-pressed-dark;
        background: $accent-button-background-pressed-dark;
        border: $button-border-theme-thickness solid $accent-button-border-brush-pressed-dark;
      }

      &:disabled {
        color: $accent-button-foreground-disabled-dark;
        background: $accent-button-background-disabled-dark;
        border: $button-border-theme-thickness solid $accent-button-border-brush-disabled-dark;
      }
    }
  }
}

select {
  &::-ms-expand {
    color: $button-foreground;
    background: transparent;
    border: 0 transparent;
  }

  &:not(:disabled):hover::-ms-expand {
    color: $button-foreground-pointer-over;
  }

  &:not(:disabled):active::-ms-expand {
    color: $button-foreground-pressed;
  }

  &:disabled::-ms-expand {
    color: $button-foreground-disabled;
  }

  +dark() {
    &::-ms-expand {
      color: $button-foreground-dark;
    }

    &:not(:disabled):hover::-ms-expand {
      color: $button-foreground-pointer-over-dark;
    }

    &:not(:disabled):active::-ms-expand {
      color: $button-foreground-pressed-dark;
    }

    &:disabled::-ms-expand {
      color: $button-foreground-disabled-dark;
    }
  }

  &.accent {
    &::-ms-expand {
      color: $accent-button-foreground;
    }

    &:not(:disabled):hover::-ms-expand {
      color: $accent-button-foreground-pointer-over;
    }

    &:not(:disabled):active::-ms-expand {
      color: $accent-button-foreground-pressed;
    }

    &:disabled::-ms-expand {
      color: $accent-button-foreground-disabled;
    }

    +dark() {
      &::-ms-expand {
        color: $accent-button-foreground-dark;
      }

      &:not(:disabled):hover::-ms-expand {
        color: $accent-button-foreground-pointer-over-dark;
      }

      &:not(:disabled):active::-ms-expand {
        color: $accent-button-foreground-pressed-dark;
      }

      &:disabled::-ms-expand {
        color: $accent-button-foreground-disabled-dark;
      }
    }
  }
}

input[type="color"] {
  color: rgb(blend($button-foreground, blend($button-background, $solid-background-fill-color-base)));
  background: padding-box rgb(blend($button-background, $solid-background-fill-color-base));
  border-left: $button-border-theme-thickness solid rgb(blend($control-stroke-color-default, $solid-background-fill-color-base));
  border-top: $button-border-theme-thickness solid rgb(blend($control-stroke-color-default, $solid-background-fill-color-base));
  border-right: $button-border-theme-thickness solid rgb(blend($control-stroke-color-default, $solid-background-fill-color-base));
  border-bottom: $button-border-theme-thickness solid rgb(blend($control-stroke-color-secondary, $solid-background-fill-color-base));

  &:not(:disabled):hover {
    color: rgb(blend($button-foreground-pointer-over, blend($button-background-pointer-over, $solid-background-fill-color-base)));
    background: padding-box rgb(blend($button-background-pointer-over, $solid-background-fill-color-base));
  }

  &:not(:disabled):active {
    color: rgb(blend($button-foreground-pressed, blend($button-background-pressed, $solid-background-fill-color-base)));
    background: padding-box rgb(blend($button-background-pressed, $solid-background-fill-color-base));
    border: $button-border-theme-thickness solid rgb(blend($button-border-brush-pressed, $solid-background-fill-color-base));
  }

  &:disabled {
    color: rgb(blend($button-foreground-disabled, blend($button-background-disabled, $solid-background-fill-color-base)));
    background: padding-box rgb(blend($button-background-disabled, $solid-background-fill-color-base));
    border: $button-border-theme-thickness solid rgb(blend($button-border-brush-disabled, $solid-background-fill-color-base));
  }

  +dark() {
    color: rgb(blend($button-foreground-dark, blend($button-background-dark, $solid-background-fill-color-base-dark)));
    background: padding-box rgb(blend($button-background-dark, $solid-background-fill-color-base-dark));
    border-left: $button-border-theme-thickness solid rgb(blend($control-stroke-color-default-dark, $solid-background-fill-color-base-dark));
    border-top: $button-border-theme-thickness solid rgb(blend($control-stroke-color-secondary-dark, $solid-background-fill-color-base-dark));
    border-right: $button-border-theme-thickness solid rgb(blend($control-stroke-color-default-dark, $solid-background-fill-color-base-dark));
    border-bottom: $button-border-theme-thickness solid rgb(blend($control-stroke-color-default-dark, $solid-background-fill-color-base-dark));

    &:not(:disabled):hover {
      color: rgb(blend($button-foreground-pointer-over-dark, blend($button-background-pointer-over-dark, $solid-background-fill-color-base-dark)));
      background: padding-box rgb(blend($button-background-pointer-over-dark, $solid-background-fill-color-base-dark));
    }

    &:not(:disabled):active {
      color: rgb(blend($button-foreground-pressed-dark, blend($button-background-pressed-dark, $solid-background-fill-color-base-dark)));
      background: padding-box rgb(blend($button-background-pressed-dark, $solid-background-fill-color-base-dark));
      border: $button-border-theme-thickness solid rgb(blend($button-border-brush-pressed-dark, $solid-background-fill-color-base-dark));
    }

    &:disabled {
      color: rgb(blend($button-foreground-disabled-dark, blend($button-background-disabled-dark, $solid-background-fill-color-base-dark)));
      background: padding-box rgb(blend($button-background-disabled-dark, $solid-background-fill-color-base-dark));
      border: $button-border-theme-thickness solid rgb(blend($button-border-brush-disabled-dark, $solid-background-fill-color-base-dark));
    }
  }
}

input[type="color"] {
  color: $button-foreground;
  border-radius: $control-corner-radius;
  background: padding-box $button-background;
  border-left: $button-border-theme-thickness solid $control-stroke-color-default;
  border-top: $button-border-theme-thickness solid $control-stroke-color-default;
  border-right: $button-border-theme-thickness solid $control-stroke-color-default;
  border-bottom: $button-border-theme-thickness solid $control-stroke-color-secondary;

  &:not(:disabled):hover {
    color: $button-foreground-pointer-over;
    background: padding-box $button-background-pointer-over;
  }

  &:not(:disabled):active {
    color: $button-foreground-pressed;
    background: padding-box $button-background-pressed;
    border: $button-border-theme-thickness solid $button-border-brush-pressed;
  }

  &:disabled {
    color: $button-foreground-disabled;
    background: padding-box $button-background-disabled;
    border: $button-border-theme-thickness solid $button-border-brush-disabled;
  }

  &::-webkit-color-swatch {
    border-radius: 2px;
    border: $button-border-theme-thickness solid $card-stroke-color-default;
  }

  +dark() {
    color: $button-foreground-dark;
    background: padding-box $button-background-dark;
    border-left: $button-border-theme-thickness solid $control-stroke-color-default-dark;
    border-top: $button-border-theme-thickness solid $control-stroke-color-secondary-dark;
    border-right: $button-border-theme-thickness solid $control-stroke-color-default-dark;
    border-bottom: $button-border-theme-thickness solid $control-stroke-color-default-dark;

    &:not(:disabled):hover {
      color: $button-foreground-pointer-over-dark;
      background: padding-box $button-background-pointer-over-dark;
    }

    &:not(:disabled):active {
      color: $button-foreground-pressed-dark;
      background: padding-box $button-background-pressed-dark;
      border: $button-border-theme-thickness solid $button-border-brush-pressed-dark;
    }

    &:disabled {
      color: $button-foreground-disabled-dark;
      background: padding-box $button-background-disabled-dark;
      border: $button-border-theme-thickness solid $button-border-brush-disabled-dark;
    }

    &::-webkit-color-swatch {
      border: $button-border-theme-thickness solid $card-stroke-color-default-dark;
    }
  }
}

input[type="file"] {
  &::-ms-browse {
    padding: $button-padding;
    color: $button-foreground;
    border-radius: $control-corner-radius;
    background: padding-box $button-background;
    border-left: $button-border-theme-thickness solid $control-stroke-color-default;
    border-top: $button-border-theme-thickness solid $control-stroke-color-default;
    border-right: $button-border-theme-thickness solid $control-stroke-color-default;
    border-bottom: $button-border-theme-thickness solid $control-stroke-color-secondary;
  }

  &:not(:disabled):hover::-ms-browse {
    color: $button-foreground-pointer-over;
    background: padding-box $button-background-pointer-over;
  }

  &:not(:disabled):active::-ms-browse {
    color: $button-foreground-pressed;
    background: padding-box $button-background-pressed;
    border: $button-border-theme-thickness solid $button-border-brush-pressed;
  }

  &:disabled::-ms-browse {
    color: $button-foreground-disabled;
    background: padding-box $button-background-disabled;
    border: $button-border-theme-thickness solid $button-border-brush-disabled;
  }

  +dark() {
    &::-ms-browse {
      color: $button-foreground-dark;
      background: padding-box $button-background-dark;
      border-left: $button-border-theme-thickness solid $control-stroke-color-default-dark;
      border-top: $button-border-theme-thickness solid $control-stroke-color-secondary-dark;
      border-right: $button-border-theme-thickness solid $control-stroke-color-default-dark;
      border-bottom: $button-border-theme-thickness solid $control-stroke-color-default-dark;
    }

    &:not(:disabled):hover::-ms-browse {
      color: $button-foreground-pointer-over-dark;
      background: padding-box $button-background-pointer-over-dark;
    }

    &:not(:disabled):active::-ms-browse {
      color: $button-foreground-pressed-dark;
      background: padding-box $button-background-pressed-dark;
      border: $button-border-theme-thickness solid $button-border-brush-pressed-dark;
    }

    &:disabled::-ms-browse {
      color: $button-foreground-disabled-dark;
      background: padding-box $button-background-disabled-dark;
      border: $button-border-theme-thickness solid $button-border-brush-disabled-dark;
    }
  }

  &.accent {
    &::-ms-browse {
      color: $accent-button-foreground;
      background: $accent-button-background;
      border-left: $button-border-theme-thickness solid $control-stroke-color-on-accent-default;
      border-top: $button-border-theme-thickness solid $control-stroke-color-on-accent-default;
      border-right: $button-border-theme-thickness solid $control-stroke-color-on-accent-default;
      border-bottom: $button-border-theme-thickness solid $control-stroke-color-on-accent-secondary;
    }

    &:not(:disabled):hover::-ms-browse {
      color: $accent-button-foreground-pointer-over;
      background: $accent-button-background-pointer-over;
    }

    &:not(:disabled):active::-ms-browse {
      color: $accent-button-foreground-pressed;
      background: $accent-button-background-pressed;
      border: $button-border-theme-thickness solid $accent-button-border-brush-pressed;
    }

    &:disabled::-ms-browse {
      color: $accent-button-foreground-disabled;
      background: $accent-button-background-disabled;
      border: $button-border-theme-thickness solid $accent-button-border-brush-disabled;
    }

    +dark() {
      &::-ms-browse {
        color: $accent-button-foreground-dark;
        background: $accent-button-background-dark;
        border-left: $button-border-theme-thickness solid $control-stroke-color-on-accent-default-dark;
        border-top: $button-border-theme-thickness solid $control-stroke-color-on-accent-default-dark;
        border-right: $button-border-theme-thickness solid $control-stroke-color-on-accent-default-dark;
        border-bottom: $button-border-theme-thickness solid $control-stroke-color-on-accent-secondary-dark;
      }

      &:not(:disabled):hover::-ms-browse {
        color: $accent-button-foreground-pointer-over-dark;
        background: $accent-button-background-pointer-over-dark;
      }

      &:not(:disabled):active::-ms-browse {
        color: $accent-button-foreground-pressed-dark;
        background: $accent-button-background-pressed-dark;
        border: $button-border-theme-thickness solid $accent-button-border-brush-pressed-dark;
      }

      &:disabled::-ms-browse {
        color: $accent-button-foreground-disabled-dark;
        background: $accent-button-background-disabled-dark;
        border: $button-border-theme-thickness solid $accent-button-border-brush-disabled-dark;
      }
    }
  }
}

input[type="file"] {
  &::-webkit-file-upload-button {
    padding: $button-padding;
    color: $button-foreground;
    border-radius: $control-corner-radius;
    background: padding-box $button-background;
    border-left: $button-border-theme-thickness solid $control-stroke-color-default;
    border-top: $button-border-theme-thickness solid $control-stroke-color-default;
    border-right: $button-border-theme-thickness solid $control-stroke-color-default;
    border-bottom: $button-border-theme-thickness solid $control-stroke-color-secondary;
  }

  &:not(:disabled):hover::-webkit-file-upload-button {
    color: $button-foreground-pointer-over;
    background: padding-box $button-background-pointer-over;
  }

  &:not(:disabled):active::-webkit-file-upload-button {
    color: $button-foreground-pressed;
    background: padding-box $button-background-pressed;
    border: $button-border-theme-thickness solid $button-border-brush-pressed;
  }

  &:disabled::-webkit-file-upload-button {
    color: $button-foreground-disabled;
    background: padding-box $button-background-disabled;
    border: $button-border-theme-thickness solid $button-border-brush-disabled;
  }

  +dark() {
    &::-webkit-file-upload-button {
      color: $button-foreground-dark;
      background: padding-box $button-background-dark;
      border-left: $button-border-theme-thickness solid $control-stroke-color-default-dark;
      border-top: $button-border-theme-thickness solid $control-stroke-color-secondary-dark;
      border-right: $button-border-theme-thickness solid $control-stroke-color-default-dark;
      border-bottom: $button-border-theme-thickness solid $control-stroke-color-default-dark;
    }

    &:not(:disabled):hover::-webkit-file-upload-button {
      color: $button-foreground-pointer-over-dark;
      background: padding-box $button-background-pointer-over-dark;
    }

    &:not(:disabled):active::-webkit-file-upload-button {
      color: $button-foreground-pressed-dark;
      background: padding-box $button-background-pressed-dark;
      border: $button-border-theme-thickness solid $button-border-brush-pressed-dark;
    }

    &:disabled::-webkit-file-upload-button {
      color: $button-foreground-disabled-dark;
      background: padding-box $button-background-disabled-dark;
      border: $button-border-theme-thickness solid $button-border-brush-disabled-dark;
    }
  }

  &.accent {
    &::-webkit-file-upload-button {
      color: $accent-button-foreground;
      background: $accent-button-background;
      border-left: $button-border-theme-thickness solid $control-stroke-color-on-accent-default;
      border-top: $button-border-theme-thickness solid $control-stroke-color-on-accent-default;
      border-right: $button-border-theme-thickness solid $control-stroke-color-on-accent-default;
      border-bottom: $button-border-theme-thickness solid $control-stroke-color-on-accent-secondary;
    }

    &:not(:disabled):hover::-webkit-file-upload-button {
      color: $accent-button-foreground-pointer-over;
      background: $accent-button-background-pointer-over;
    }

    &:not(:disabled):active::-webkit-file-upload-button {
      color: $accent-button-foreground-pressed;
      background: $accent-button-background-pressed;
      border: $button-border-theme-thickness solid $accent-button-border-brush-pressed;
    }

    &:disabled::-webkit-file-upload-button {
      color: $accent-button-foreground-disabled;
      background: $accent-button-background-disabled;
      border: $button-border-theme-thickness solid $accent-button-border-brush-disabled;
    }

    +dark() {
      &::-webkit-file-upload-button {
        color: $accent-button-foreground-dark;
        background: $accent-button-background-dark;
        border-left: $button-border-theme-thickness solid $control-stroke-color-on-accent-default-dark;
        border-top: $button-border-theme-thickness solid $control-stroke-color-on-accent-default-dark;
        border-right: $button-border-theme-thickness solid $control-stroke-color-on-accent-default-dark;
        border-bottom: $button-border-theme-thickness solid $control-stroke-color-on-accent-secondary-dark;
      }

      &:not(:disabled):hover::-webkit-file-upload-button {
        color: $accent-button-foreground-pointer-over-dark;
        background: $accent-button-background-pointer-over-dark;
      }

      &:not(:disabled):active::-webkit-file-upload-button {
        color: $accent-button-foreground-pressed-dark;
        background: $accent-button-background-pressed-dark;
        border: $button-border-theme-thickness solid $accent-button-border-brush-pressed-dark;
      }

      &:disabled::-webkit-file-upload-button {
        color: $accent-button-foreground-disabled-dark;
        background: $accent-button-background-disabled-dark;
        border: $button-border-theme-thickness solid $accent-button-border-brush-disabled-dark;
      }
    }
  }
}