$check-box-foreground-unchecked = $text-fill-color-primary
$check-box-foreground-unchecked-pointer-over = $text-fill-color-primary
$check-box-foreground-unchecked-pressed = $text-fill-color-primary
$check-box-foreground-unchecked-disabled = $text-fill-color-disabled

$check-box-foreground-checked = $text-fill-color-primary
$check-box-foreground-checked-pointer-over = $text-fill-color-primary
$check-box-foreground-checked-pressed = $text-fill-color-primary
$check-box-foreground-checked-disabled = $text-fill-color-disabled

$check-box-foreground-indeterminate = $text-fill-color-primary
$check-box-foreground-indeterminate-pointer-over = $text-fill-color-primary
$check-box-foreground-indeterminate-pressed = $text-fill-color-primary
$check-box-foreground-indeterminate-disabled = $text-fill-color-disabled

$check-box-background-unchecked = $subtle-fill-color-transparent
$check-box-background-unchecked-pointer-over = $subtle-fill-color-transparent
$check-box-background-unchecked-pressed = $subtle-fill-color-transparent
$check-box-background-unchecked-disabled = $subtle-fill-color-transparent

$check-box-background-checked = $subtle-fill-color-transparent
$check-box-background-checked-pointer-over = $subtle-fill-color-transparent
$check-box-background-checked-pressed = $subtle-fill-color-transparent
$check-box-background-checked-disabled = $subtle-fill-color-transparent

$check-box-background-indeterminate = $subtle-fill-color-transparent
$check-box-background-indeterminate-pointer-over = $subtle-fill-color-transparent
$check-box-background-indeterminate-pressed = $subtle-fill-color-transparent
$check-box-background-indeterminate-disabled = $subtle-fill-color-transparent

$check-box-border-unchecked = $subtle-fill-color-transparent
$check-box-border-unchecked-pointer-over = $subtle-fill-color-transparent
$check-box-border-unchecked-pressed = $subtle-fill-color-transparent
$check-box-border-unchecked-disabled = $subtle-fill-color-transparent

$check-box-border-checked = $subtle-fill-color-transparent
$check-box-border-checked-pointer-over = $subtle-fill-color-transparent
$check-box-border-checked-pressed = $subtle-fill-color-transparent
$check-box-border-checked-disabled = $subtle-fill-color-transparent

$check-box-border-indeterminate = $subtle-fill-color-transparent
$check-box-border-indeterminate-pointer-over = $subtle-fill-color-transparent
$check-box-border-indeterminate-pressed = $subtle-fill-color-transparent
$check-box-border-indeterminate-disabled = $subtle-fill-color-transparent

$check-box-check-background-stroke-unchecked = $control-strong-stroke-color-default
$check-box-check-background-stroke-unchecked-pointer-over = $control-strong-stroke-color-default
$check-box-check-background-stroke-unchecked-pressed = $control-strong-stroke-color-disabled
$check-box-check-background-stroke-unchecked-disabled = $control-strong-stroke-color-disabled
$check-box-check-background-stroke-checked = $accent-fill-color-default
$check-box-check-background-stroke-checked-pointer-over = $accent-fill-color-secondary
$check-box-check-background-stroke-checked-pressed = $accent-fill-color-tertiary
$check-box-check-background-stroke-checked-disabled = $control-strong-stroke-color-disabled
$check-box-check-background-stroke-indeterminate = $accent-fill-color-default
$check-box-check-background-stroke-indeterminate-pointer-over = $accent-fill-color-secondary
$check-box-check-background-stroke-indeterminate-pressed = $accent-fill-color-tertiary
$check-box-check-background-stroke-indeterminate-disabled = $control-strong-stroke-color-disabled

$check-box-check-background-fill-unchecked = $control-alt-fill-color-secondary
$check-box-check-background-fill-unchecked-pointer-over = $control-alt-fill-color-tertiary
$check-box-check-background-fill-unchecked-pressed = $control-alt-fill-color-quarternary
$check-box-check-background-fill-unchecked-disabled = $control-alt-fill-color-disabled
$check-box-check-background-fill-checked = $accent-fill-color-default
$check-box-check-background-fill-checked-pointer-over = $accent-fill-color-secondary
$check-box-check-background-fill-checked-pressed = $accent-fill-color-tertiary
$check-box-check-background-fill-checked-disabled = $accent-fill-color-disabled
$check-box-check-background-fill-indeterminate = $accent-fill-color-default
$check-box-check-background-fill-indeterminate-pointer-over = $accent-fill-color-secondary
$check-box-check-background-fill-indeterminate-pressed = $accent-fill-color-tertiary
$check-box-check-background-fill-indeterminate-disabled = $accent-fill-color-disabled

$check-box-check-glyph-foreground-unchecked = $text-on-accent-fill-color-primary
$check-box-check-glyph-foreground-unchecked-pointer-over = $text-on-accent-fill-color-primary
$check-box-check-glyph-foreground-unchecked-pressed = $text-on-accent-fill-color-primary
$check-box-check-glyph-foreground-unchecked-disabled = $text-on-accent-fill-color-disabled

$check-box-check-glyph-foreground-checked = $text-on-accent-fill-color-primary
$check-box-check-glyph-foreground-checked-pointer-over = $text-on-accent-fill-color-primary
$check-box-check-glyph-foreground-checked-pressed = $text-on-accent-fill-color-secondary
$check-box-check-glyph-foreground-checked-disabled = $text-on-accent-fill-color-disabled
$check-box-check-glyph-foreground-indeterminate = $text-on-accent-fill-color-primary
$check-box-check-glyph-foreground-indeterminate-pointer-over = $text-on-accent-fill-color-primary
$check-box-check-glyph-foreground-indeterminate-pressed = $text-on-accent-fill-color-secondary
$check-box-check-glyph-foreground-indeterminate-disabled = $text-on-accent-fill-color-disabled

$check-box-foreground-unchecked-dark = $text-fill-color-primary-dark
$check-box-foreground-unchecked-pointer-over-dark = $text-fill-color-primary-dark
$check-box-foreground-unchecked-pressed-dark = $text-fill-color-primary-dark
$check-box-foreground-unchecked-disabled-dark = $text-fill-color-disabled-dark

$check-box-foreground-checked-dark = $text-fill-color-primary-dark
$check-box-foreground-checked-pointer-over-dark = $text-fill-color-primary-dark
$check-box-foreground-checked-pressed-dark = $text-fill-color-primary-dark
$check-box-foreground-checked-disabled-dark = $text-fill-color-disabled-dark

$check-box-foreground-indeterminate-dark = $text-fill-color-primary-dark
$check-box-foreground-indeterminate-pointer-over-dark = $text-fill-color-primary-dark
$check-box-foreground-indeterminate-pressed-dark = $text-fill-color-primary-dark
$check-box-foreground-indeterminate-disabled-dark = $text-fill-color-disabled-dark

$check-box-background-unchecked-dark = $subtle-fill-color-transparent-dark
$check-box-background-unchecked-pointer-over-dark = $subtle-fill-color-transparent-dark
$check-box-background-unchecked-pressed-dark = $subtle-fill-color-transparent-dark
$check-box-background-unchecked-disabled-dark = $subtle-fill-color-transparent-dark

$check-box-background-checked-dark = $subtle-fill-color-transparent-dark
$check-box-background-checked-pointer-over-dark = $subtle-fill-color-transparent-dark
$check-box-background-checked-pressed-dark = $subtle-fill-color-transparent-dark
$check-box-background-checked-disabled-dark = $subtle-fill-color-transparent-dark

$check-box-background-indeterminate-dark = $subtle-fill-color-transparent-dark
$check-box-background-indeterminate-pointer-over-dark = $subtle-fill-color-transparent-dark
$check-box-background-indeterminate-pressed-dark = $subtle-fill-color-transparent-dark
$check-box-background-indeterminate-disabled-dark = $subtle-fill-color-transparent-dark

$check-box-border-unchecked-dark = $subtle-fill-color-transparent-dark
$check-box-border-unchecked-pointer-over-dark = $subtle-fill-color-transparent-dark
$check-box-border-unchecked-pressed-dark = $subtle-fill-color-transparent-dark
$check-box-border-unchecked-disabled-dark = $subtle-fill-color-transparent-dark

$check-box-border-checked-dark = $subtle-fill-color-transparent-dark
$check-box-border-checked-pointer-over-dark = $subtle-fill-color-transparent-dark
$check-box-border-checked-pressed-dark = $subtle-fill-color-transparent-dark
$check-box-border-checked-disabled-dark = $subtle-fill-color-transparent-dark

$check-box-border-indeterminate-dark = $subtle-fill-color-transparent-dark
$check-box-border-indeterminate-pointer-over-dark = $subtle-fill-color-transparent-dark
$check-box-border-indeterminate-pressed-dark = $subtle-fill-color-transparent-dark
$check-box-border-indeterminate-disabled-dark = $subtle-fill-color-transparent-dark

$check-box-check-background-stroke-unchecked-dark = $control-strong-stroke-color-default-dark
$check-box-check-background-stroke-unchecked-pointer-over-dark = $control-strong-stroke-color-default-dark
$check-box-check-background-stroke-unchecked-pressed-dark = $control-strong-stroke-color-disabled-dark
$check-box-check-background-stroke-unchecked-disabled-dark = $control-strong-stroke-color-disabled-dark
$check-box-check-background-stroke-checked-dark = $accent-fill-color-default-dark
$check-box-check-background-stroke-checked-pointer-over-dark = $accent-fill-color-secondary-dark
$check-box-check-background-stroke-checked-pressed-dark = $accent-fill-color-tertiary-dark
$check-box-check-background-stroke-checked-disabled-dark = $control-strong-stroke-color-disabled-dark
$check-box-check-background-stroke-indeterminate-dark = $accent-fill-color-default-dark
$check-box-check-background-stroke-indeterminate-pointer-over-dark = $accent-fill-color-secondary-dark
$check-box-check-background-stroke-indeterminate-pressed-dark = $accent-fill-color-tertiary-dark
$check-box-check-background-stroke-indeterminate-disabled-dark = $control-strong-stroke-color-disabled-dark

$check-box-check-background-fill-unchecked-dark = $control-alt-fill-color-secondary-dark
$check-box-check-background-fill-unchecked-pointer-over-dark = $control-alt-fill-color-tertiary-dark
$check-box-check-background-fill-unchecked-pressed-dark = $control-alt-fill-color-quarternary-dark
$check-box-check-background-fill-unchecked-disabled-dark = $control-alt-fill-color-disabled-dark
$check-box-check-background-fill-checked-dark = $accent-fill-color-default-dark
$check-box-check-background-fill-checked-pointer-over-dark = $accent-fill-color-secondary-dark
$check-box-check-background-fill-checked-pressed-dark = $accent-fill-color-tertiary-dark
$check-box-check-background-fill-checked-disabled-dark = $accent-fill-color-disabled-dark
$check-box-check-background-fill-indeterminate-dark = $accent-fill-color-default-dark
$check-box-check-background-fill-indeterminate-pointer-over-dark = $accent-fill-color-secondary-dark
$check-box-check-background-fill-indeterminate-pressed-dark = $accent-fill-color-tertiary-dark
$check-box-check-background-fill-indeterminate-disabled-dark = $accent-fill-color-disabled-dark

$check-box-check-glyph-foreground-unchecked-dark = $text-on-accent-fill-color-primary-dark
$check-box-check-glyph-foreground-unchecked-pointer-over-dark = $text-on-accent-fill-color-primary-dark
$check-box-check-glyph-foreground-unchecked-pressed-dark = $text-on-accent-fill-color-primary-dark
$check-box-check-glyph-foreground-unchecked-disabled-dark = $text-on-accent-fill-color-disabled-dark

$check-box-check-glyph-foreground-checked-dark = $text-on-accent-fill-color-primary-dark
$check-box-check-glyph-foreground-checked-pointer-over-dark = $text-on-accent-fill-color-primary-dark
$check-box-check-glyph-foreground-checked-pressed-dark = $text-on-accent-fill-color-secondary-dark
$check-box-check-glyph-foreground-checked-disabled-dark = $text-on-accent-fill-color-disabled-dark
$check-box-check-glyph-foreground-indeterminate-dark = $text-on-accent-fill-color-primary-dark
$check-box-check-glyph-foreground-indeterminate-pointer-over-dark = $text-on-accent-fill-color-primary-dark
$check-box-check-glyph-foreground-indeterminate-pressed-dark = $text-on-accent-fill-color-secondary-dark
$check-box-check-glyph-foreground-indeterminate-disabled-dark = $text-on-accent-fill-color-disabled-dark

$check-box-border-thickness = 1px
$check-box-size = 20px

input[type="checkbox"],
input[type="radio"] {
  width: $check-box-size;
  height: $check-box-size;
  color: $check-box-foreground-unchecked;
  border: $check-box-border-thickness solid $check-box-border-unchecked;
  background: $check-box-background-unchecked;

  &::-ms-check {
    color: $check-box-check-glyph-foreground-unchecked;
    border: $check-box-border-thickness solid $check-box-check-background-stroke-unchecked;
    background: $check-box-check-background-fill-unchecked;
  }

  &:indeterminate {
    color: $check-box-foreground-indeterminate;
    border: $check-box-border-thickness solid $check-box-border-indeterminate;
    background: $check-box-background-indeterminate;

    &::-ms-check {
      color: $check-box-check-glyph-foreground-indeterminate;
      border: $check-box-border-thickness solid $check-box-check-background-stroke-indeterminate;
      background: $check-box-check-background-fill-indeterminate;
    }
  }

  &:checked {
    color: $check-box-foreground-checked;
    border: $check-box-border-thickness solid $check-box-border-checked;
    background: $check-box-background-checked;

    &::-ms-check {
      color: $check-box-check-glyph-foreground-checked;
      border: $check-box-border-thickness solid $check-box-check-background-stroke-checked;
      background: $check-box-check-background-fill-checked;
    }
  }

  &:not(:disabled):hover {
    color: $check-box-foreground-unchecked-pointer-over;
    border: $check-box-border-thickness solid $check-box-border-unchecked-pointer-over;
    background: $check-box-background-unchecked-pointer-over;

    &::-ms-check {
      color: $check-box-check-glyph-foreground-unchecked-pointer-over;
      border: $check-box-border-thickness solid $check-box-check-background-stroke-unchecked-pointer-over;
      background: $check-box-check-background-fill-unchecked-pointer-over;
    }

    &:indeterminate {
      color: $check-box-foreground-indeterminate-pointer-over;
      border: $check-box-border-thickness solid $check-box-border-indeterminate-pointer-over;
      background: $check-box-background-indeterminate-pointer-over;

      &::-ms-check {
        color: $check-box-check-glyph-foreground-indeterminate-pointer-over;
        border: $check-box-border-thickness solid $check-box-check-background-stroke-indeterminate-pointer-over;
        background: $check-box-check-background-fill-indeterminate-pointer-over;
      }
    }

    &:checked {
      color: $check-box-foreground-checked-pointer-over;
      border: $check-box-border-thickness solid $check-box-border-checked-pointer-over;
      background: $check-box-background-checked-pointer-over;

      &::-ms-check {
        color: $check-box-check-glyph-foreground-checked-pointer-over;
        border: $check-box-border-thickness solid $check-box-check-background-stroke-checked-pointer-over;
        background: $check-box-check-background-fill-checked-pointer-over;
      }
    }
  }

  &:not(:disabled):active {
    color: $check-box-foreground-unchecked-pressed;
    border: $check-box-border-thickness solid $check-box-border-unchecked-pressed;
    background: $check-box-background-unchecked-pressed;

    &::-ms-check {
      color: $check-box-check-glyph-foreground-unchecked-pressed;
      border: $check-box-border-thickness solid $check-box-check-background-stroke-unchecked-pressed;
      background: $check-box-check-background-fill-unchecked-pressed;
    }

    &:indeterminate {
      color: $check-box-foreground-indeterminate-pressed;
      border: $check-box-border-thickness solid $check-box-border-indeterminate-pressed;
      background: $check-box-background-indeterminate-pressed;

      &::-ms-check {
        color: $check-box-check-glyph-foreground-indeterminate-pressed;
        border: $check-box-border-thickness solid $check-box-check-background-stroke-indeterminate-pressed;
        background: $check-box-check-background-fill-indeterminate-pressed;
      }
    }

    &:checked {
      color: $check-box-foreground-checked-pressed;
      border: $check-box-border-thickness solid $check-box-border-checked-pressed;
      background: $check-box-background-checked-pressed;

      &::-ms-check {
        color: $check-box-check-glyph-foreground-checked-pressed;
        border: $check-box-border-thickness solid $check-box-check-background-stroke-checked-pressed;
        background: $check-box-check-background-fill-checked-pressed;
      }
    }
  }

  &:disabled {
    color: $check-box-foreground-unchecked-disabled;
    border: $check-box-border-thickness solid $check-box-border-unchecked-disabled;
    background: $check-box-background-unchecked-disabled;

    &::-ms-check {
      color: $check-box-check-glyph-foreground-unchecked-disabled;
      border: $check-box-border-thickness solid $check-box-check-background-stroke-unchecked-disabled;
      background: $check-box-check-background-fill-unchecked-disabled;
    }

    &:indeterminate {
      color: $check-box-foreground-indeterminate-disabled;
      border: $check-box-border-thickness solid $check-box-border-indeterminate-disabled;
      background: $check-box-background-indeterminate-disabled;

      &::-ms-check {
        color: $check-box-check-glyph-foreground-indeterminate-disabled;
        border: $check-box-border-thickness solid $check-box-check-background-stroke-indeterminate-disabled;
        background: $check-box-check-background-fill-indeterminate-disabled;
      }
    }

    &:checked {
      color: $check-box-foreground-checked-disabled;
      border: $check-box-border-thickness solid $check-box-border-checked-disabled;
      background: $check-box-background-checked-disabled;

      &::-ms-check {
        color: $check-box-check-glyph-foreground-checked-disabled;
        border: $check-box-border-thickness solid $check-box-check-background-stroke-checked-disabled;
        background: $check-box-check-background-fill-checked-disabled;
      }
    }
  }

  +dark() {
    color: $check-box-foreground-unchecked-dark;
    border: $check-box-border-thickness solid $check-box-border-unchecked-dark;
    background: $check-box-background-unchecked-dark;

    &::-ms-check {
      color: $check-box-check-glyph-foreground-unchecked-dark;
      border: $check-box-border-thickness solid $check-box-check-background-stroke-unchecked-dark;
      background: $check-box-check-background-fill-unchecked-dark;
    }

    &:indeterminate {
      color: $check-box-foreground-indeterminate-dark;
      border: $check-box-border-thickness solid $check-box-border-indeterminate-dark;
      background: $check-box-background-indeterminate-dark;

      &::-ms-check {
        color: $check-box-check-glyph-foreground-indeterminate-dark;
        border: $check-box-border-thickness solid $check-box-check-background-stroke-indeterminate-dark;
        background: $check-box-check-background-fill-indeterminate-dark;
      }
    }

    &:checked {
      color: $check-box-foreground-checked-dark;
      border: $check-box-border-thickness solid $check-box-border-checked-dark;
      background: $check-box-background-checked-dark;

      &::-ms-check {
        color: $check-box-check-glyph-foreground-checked-dark;
        border: $check-box-border-thickness solid $check-box-check-background-stroke-checked-dark;
        background: $check-box-check-background-fill-checked-dark;
      }
    }

    &:not(:disabled):hover {
      color: $check-box-foreground-unchecked-pointer-over-dark;
      border: $check-box-border-thickness solid $check-box-border-unchecked-pointer-over-dark;
      background: $check-box-background-unchecked-pointer-over-dark;

      &::-ms-check {
        color: $check-box-check-glyph-foreground-unchecked-pointer-over-dark;
        border: $check-box-border-thickness solid $check-box-check-background-stroke-unchecked-pointer-over-dark;
        background: $check-box-check-background-fill-unchecked-pointer-over-dark;
      }

      &:indeterminate {
        color: $check-box-foreground-indeterminate-pointer-over-dark;
        border: $check-box-border-thickness solid $check-box-border-indeterminate-pointer-over-dark;
        background: $check-box-background-indeterminate-pointer-over-dark;

        &::-ms-check {
          color: $check-box-check-glyph-foreground-indeterminate-pointer-over-dark;
          border: $check-box-border-thickness solid $check-box-check-background-stroke-indeterminate-pointer-over-dark;
          background: $check-box-check-background-fill-indeterminate-pointer-over-dark;
        }
      }

      &:checked {
        color: $check-box-foreground-checked-pointer-over-dark;
        border: $check-box-border-thickness solid $check-box-border-checked-pointer-over-dark;
        background: $check-box-background-checked-pointer-over-dark;

        &::-ms-check {
          color: $check-box-check-glyph-foreground-checked-pointer-over-dark;
          border: $check-box-border-thickness solid $check-box-check-background-stroke-checked-pointer-over-dark;
          background: $check-box-check-background-fill-checked-pointer-over-dark;
        }
      }
    }

    &:not(:disabled):active {
      color: $check-box-foreground-unchecked-pressed-dark;
      border: $check-box-border-thickness solid $check-box-border-unchecked-pressed-dark;
      background: $check-box-background-unchecked-pressed-dark;

      &::-ms-check {
        color: $check-box-check-glyph-foreground-unchecked-pressed-dark;
        border: $check-box-border-thickness solid $check-box-check-background-stroke-unchecked-pressed-dark;
        background: $check-box-check-background-fill-unchecked-pressed-dark;
      }

      &:indeterminate {
        color: $check-box-foreground-indeterminate-pressed-dark;
        border: $check-box-border-thickness solid $check-box-border-indeterminate-pressed-dark;
        background: $check-box-background-indeterminate-pressed-dark;

        &::-ms-check {
          color: $check-box-check-glyph-foreground-indeterminate-pressed-dark;
          border: $check-box-border-thickness solid $check-box-check-background-stroke-indeterminate-pressed-dark;
          background: $check-box-check-background-fill-indeterminate-pressed-dark;
        }
      }

      &:checked {
        color: $check-box-foreground-checked-pressed-dark;
        border: $check-box-border-thickness solid $check-box-border-checked-pressed-dark;
        background: $check-box-background-checked-pressed-dark;

        &::-ms-check {
          color: $check-box-check-glyph-foreground-checked-pressed-dark;
          border: $check-box-border-thickness solid $check-box-check-background-stroke-checked-pressed-dark;
          background: $check-box-check-background-fill-checked-pressed-dark;
        }
      }
    }

    &:disabled {
      color: $check-box-foreground-unchecked-disabled-dark;
      border: $check-box-border-thickness solid $check-box-border-unchecked-disabled-dark;
      background: $check-box-background-unchecked-disabled-dark;

      &::-ms-check {
        color: $check-box-check-glyph-foreground-unchecked-disabled-dark;
        border: $check-box-border-thickness solid $check-box-check-background-stroke-unchecked-disabled-dark;
        background: $check-box-check-background-fill-unchecked-disabled-dark;
      }

      &:indeterminate {
        color: $check-box-foreground-indeterminate-disabled-dark;
        border: $check-box-border-thickness solid $check-box-border-indeterminate-disabled-dark;
        background: $check-box-background-indeterminate-disabled-dark;

        &::-ms-check {
          color: $check-box-check-glyph-foreground-indeterminate-disabled-dark;
          border: $check-box-border-thickness solid $check-box-check-background-stroke-indeterminate-disabled-dark;
          background: $check-box-check-background-fill-indeterminate-disabled-dark;
        }
      }

      &:checked {
        color: $check-box-foreground-checked-disabled-dark;
        border: $check-box-border-thickness solid $check-box-border-checked-disabled-dark;
        background: $check-box-background-checked-disabled-dark;

        &::-ms-check {
          color: $check-box-check-glyph-foreground-checked-disabled-dark;
          border: $check-box-border-thickness solid $check-box-check-background-stroke-checked-disabled-dark;
          background: $check-box-check-background-fill-checked-disabled-dark;
        }
      }
    }
  }

  +supports-light-dark() {
    color: light-dark($check-box-foreground-unchecked, $check-box-foreground-unchecked-dark);
    border: $check-box-border-thickness solid light-dark($check-box-border-unchecked, $check-box-border-unchecked-dark);
    background: light-dark($check-box-background-unchecked, $check-box-background-unchecked-dark);

    &::-ms-check {
      color: light-dark($check-box-check-glyph-foreground-unchecked, $check-box-check-glyph-foreground-unchecked-dark);
      border: $check-box-border-thickness solid light-dark($check-box-check-background-stroke-unchecked, $check-box-check-background-stroke-unchecked-dark);
      background: light-dark($check-box-check-background-fill-unchecked, $check-box-check-background-fill-unchecked-dark);
    }

    &:indeterminate {
      color: light-dark($check-box-foreground-indeterminate, $check-box-foreground-indeterminate-dark);
      border: $check-box-border-thickness solid light-dark($check-box-border-indeterminate, $check-box-border-indeterminate-dark);
      background: light-dark($check-box-background-indeterminate, $check-box-background-indeterminate-dark);

      &::-ms-check {
        color: light-dark($check-box-check-glyph-foreground-indeterminate, $check-box-check-glyph-foreground-indeterminate-dark);
        border: $check-box-border-thickness solid light-dark($check-box-check-background-stroke-indeterminate, $check-box-check-background-stroke-indeterminate-dark);
        background: light-dark($check-box-check-background-fill-indeterminate, $check-box-check-background-fill-indeterminate-dark);
      }
    }

    &:checked {
      color: light-dark($check-box-foreground-checked, $check-box-foreground-checked-dark);
      border: $check-box-border-thickness solid light-dark($check-box-border-checked, $check-box-border-checked-dark);
      background: light-dark($check-box-background-checked, $check-box-background-checked-dark);

      &::-ms-check {
        color: light-dark($check-box-check-glyph-foreground-checked, $check-box-check-glyph-foreground-checked-dark);
        border: $check-box-border-thickness solid light-dark($check-box-check-background-stroke-checked, $check-box-check-background-stroke-checked-dark);
        background: light-dark($check-box-check-background-fill-checked, $check-box-check-background-fill-checked-dark);
      }
    }

    &:not(:disabled):hover {
      color: light-dark($check-box-foreground-unchecked-pointer-over, $check-box-foreground-unchecked-pointer-over-dark);
      border: $check-box-border-thickness solid light-dark($check-box-border-unchecked-pointer-over, $check-box-border-unchecked-pointer-over-dark);
      background: light-dark($check-box-background-unchecked-pointer-over, $check-box-background-unchecked-pointer-over-dark);

      &::-ms-check {
        color: light-dark($check-box-check-glyph-foreground-unchecked-pointer-over, $check-box-check-glyph-foreground-unchecked-pointer-over-dark);
        border: $check-box-border-thickness solid light-dark($check-box-check-background-stroke-unchecked-pointer-over, $check-box-check-background-stroke-unchecked-pointer-over-dark);
        background: light-dark($check-box-check-background-fill-unchecked-pointer-over, $check-box-check-background-fill-unchecked-pointer-over-dark);
      }

      &:indeterminate {
        color: light-dark($check-box-foreground-indeterminate-pointer-over, $check-box-foreground-indeterminate-pointer-over-dark);
        border: $check-box-border-thickness solid light-dark($check-box-border-indeterminate-pointer-over, $check-box-border-indeterminate-pointer-over-dark);
        background: light-dark($check-box-background-indeterminate-pointer-over, $check-box-background-indeterminate-pointer-over-dark);

        &::-ms-check {
          color: light-dark($check-box-check-glyph-foreground-indeterminate-pointer-over, $check-box-check-glyph-foreground-indeterminate-pointer-over-dark);
          border: $check-box-border-thickness solid light-dark($check-box-check-background-stroke-indeterminate-pointer-over, $check-box-check-background-stroke-indeterminate-pointer-over-dark);
          background: light-dark($check-box-check-background-fill-indeterminate-pointer-over, $check-box-check-background-fill-indeterminate-pointer-over-dark);
        }
      }

      &:checked {
        color: light-dark($check-box-foreground-checked-pointer-over, $check-box-foreground-checked-pointer-over-dark);
        border: $check-box-border-thickness solid light-dark($check-box-border-checked-pointer-over, $check-box-border-checked-pointer-over-dark);
        background: light-dark($check-box-background-checked-pointer-over, $check-box-background-checked-pointer-over-dark);

        &::-ms-check {
          color: light-dark($check-box-check-glyph-foreground-checked-pointer-over, $check-box-check-glyph-foreground-checked-pointer-over-dark);
          border: $check-box-border-thickness solid light-dark($check-box-check-background-stroke-checked-pointer-over, $check-box-check-background-stroke-checked-pointer-over-dark);
          background: light-dark($check-box-check-background-fill-checked-pointer-over, $check-box-check-background-fill-checked-pointer-over-dark);
        }
      }
    }

    &:not(:disabled):active {
      color: light-dark($check-box-foreground-unchecked-pressed, $check-box-foreground-unchecked-pressed-dark);
      border: $check-box-border-thickness solid light-dark($check-box-border-unchecked-pressed, $check-box-border-unchecked-pressed-dark);
      background: light-dark($check-box-background-unchecked-pressed, $check-box-background-unchecked-pressed-dark);

      &::-ms-check {
        color: light-dark($check-box-check-glyph-foreground-unchecked-pressed, $check-box-check-glyph-foreground-unchecked-pressed-dark);
        border: $check-box-border-thickness solid light-dark($check-box-check-background-stroke-unchecked-pressed, $check-box-check-background-stroke-unchecked-pressed-dark);
        background: light-dark($check-box-check-background-fill-unchecked-pressed, $check-box-check-background-fill-unchecked-pressed-dark);
      }

      &:indeterminate {
        color: light-dark($check-box-foreground-indeterminate-pressed, $check-box-foreground-indeterminate-pressed-dark);
        border: $check-box-border-thickness solid light-dark($check-box-border-indeterminate-pressed, $check-box-border-indeterminate-pressed-dark);
        background: light-dark($check-box-background-indeterminate-pressed, $check-box-background-indeterminate-pressed-dark);

        &::-ms-check {
          color: light-dark($check-box-check-glyph-foreground-indeterminate-pressed, $check-box-check-glyph-foreground-indeterminate-pressed-dark);
          border: $check-box-border-thickness solid light-dark($check-box-check-background-stroke-indeterminate-pressed, $check-box-check-background-stroke-indeterminate-pressed-dark);
          background: light-dark($check-box-check-background-fill-indeterminate-pressed, $check-box-check-background-fill-indeterminate-pressed-dark);
        }
      }

      &:checked {
        color: light-dark($check-box-foreground-checked-pressed, $check-box-foreground-checked-pressed-dark);
        border: $check-box-border-thickness solid light-dark($check-box-border-checked-pressed, $check-box-border-checked-pressed-dark);
        background: light-dark($check-box-background-checked-pressed, $check-box-background-checked-pressed-dark);

        &::-ms-check {
          color: light-dark($check-box-check-glyph-foreground-checked-pressed, $check-box-check-glyph-foreground-checked-pressed-dark);
          border: $check-box-border-thickness solid light-dark($check-box-check-background-stroke-checked-pressed, $check-box-check-background-stroke-checked-pressed-dark);
          background: light-dark($check-box-check-background-fill-checked-pressed, $check-box-check-background-fill-checked-pressed-dark);
        }
      }
    }

    &:disabled {
      color: light-dark($check-box-foreground-unchecked-disabled, $check-box-foreground-unchecked-disabled-dark);
      border: $check-box-border-thickness solid light-dark($check-box-border-unchecked-disabled, $check-box-border-unchecked-disabled-dark);
      background: light-dark($check-box-background-unchecked-disabled, $check-box-background-unchecked-disabled-dark);

      &::-ms-check {
        color: light-dark($check-box-check-glyph-foreground-unchecked-disabled, $check-box-check-glyph-foreground-unchecked-disabled-dark);
        border: $check-box-border-thickness solid light-dark($check-box-check-background-stroke-unchecked-disabled, $check-box-check-background-stroke-unchecked-disabled-dark);
        background: light-dark($check-box-check-background-fill-unchecked-disabled, $check-box-check-background-fill-unchecked-disabled-dark);
      }

      &:indeterminate {
        color: light-dark($check-box-foreground-indeterminate-disabled, $check-box-foreground-indeterminate-disabled-dark);
        border: $check-box-border-thickness solid light-dark($check-box-border-indeterminate-disabled, $check-box-border-indeterminate-disabled-dark);
        background: light-dark($check-box-background-indeterminate-disabled, $check-box-background-indeterminate-disabled-dark);

        &::-ms-check {
          color: light-dark($check-box-check-glyph-foreground-indeterminate-disabled, $check-box-check-glyph-foreground-indeterminate-disabled-dark);
          border: $check-box-border-thickness solid light-dark($check-box-check-background-stroke-indeterminate-disabled, $check-box-check-background-stroke-indeterminate-disabled-dark);
          background: light-dark($check-box-check-background-fill-indeterminate-disabled, $check-box-check-background-fill-indeterminate-disabled-dark);
        }
      }

      &:checked {
        color: light-dark($check-box-foreground-checked-disabled, $check-box-foreground-checked-disabled-dark);
        border: $check-box-border-thickness solid light-dark($check-box-border-checked-disabled, $check-box-border-checked-disabled-dark);
        background: light-dark($check-box-background-checked-disabled, $check-box-background-checked-disabled-dark);

        &::-ms-check {
          color: light-dark($check-box-check-glyph-foreground-checked-disabled, $check-box-check-glyph-foreground-checked-disabled-dark);
          border: $check-box-border-thickness solid light-dark($check-box-check-background-stroke-checked-disabled, $check-box-check-background-stroke-checked-disabled-dark);
          background: light-dark($check-box-check-background-fill-checked-disabled, $check-box-check-background-fill-checked-disabled-dark);
        }
      }
    }
  }
}

input[type="checkbox"]::-ms-check {
  border-radius: $control-corner-radius;
}