$content-dialog-foreground = $text-fill-color-primary
$content-dialog-background = $solid-background-fill-color-base
$content-dialog-smoke-fill = $smoke-fill-color-default
$content-dialog-top-overlay = $layer-fill-color-alt
$content-dialog-border-brush = $surface-stroke-color-default
$content-dialog-separator-border = $card-stroke-color-default

$content-dialog-foreground-dark = $text-fill-color-primary-dark
$content-dialog-background-dark = $solid-background-fill-color-base-dark
$content-dialog-smoke-fill-dark = $smoke-fill-color-default-dark
$content-dialog-top-overlay-dark = $layer-fill-color-alt-dark
$content-dialog-border-brush-dark = $surface-stroke-color-default-dark
$content-dialog-separator-border-dark = $card-stroke-color-default-dark

$content-dialog-border-width = 1px

$content-dialog-min-width = 320px
$content-dialog-max-width = 548px
$content-dialog-min-height = 184px
$content-dialog-max-height = 756px

$content-dialog-button-spacing = 8px
$content-dialog-title-margin-bottom = 12px
$content-dialog-padding = 24px
$content-dialog-separator-thickness = 1px

dialog {
    &::backdrop {
        background: $content-dialog-smoke-fill;

        +dark() {
            background: $content-dialog-smoke-fill-dark;
        }

        +supports-light-dark() {
            background: light-dark($content-dialog-smoke-fill, $content-dialog-smoke-fill-dark);
        }
    }

    &:modal {
        padding: $content-dialog-padding;
        box-sizing: border-box;
        overflow: auto;
        color: $content-dialog-foreground;
        background: $content-dialog-background;
        border: $content-dialog-border-width solid $content-dialog-border-brush;
        border-radius: $overlay-corner-radius;

        +dark() {
            color: $content-dialog-foreground-dark;
            background: $content-dialog-background-dark;
            border: 1px solid $content-dialog-border-brush-dark;
        }

        +supports-light-dark() {
            color: light-dark($content-dialog-foreground, $content-dialog-foreground-dark);
            background: light-dark($content-dialog-background, $content-dialog-background-dark);
            border: 1px solid light-dark($content-dialog-border-brush, $content-dialog-border-brush-dark);
        }
    }
}