$temporary-text-fill-color-disabled = #0101015C

$text-control-background = $control-fill-color-default
$text-control-background-pointer-over = $control-fill-color-secondary
$text-control-background-focused = $control-fill-color-input-active
$text-control-background-disabled = $control-fill-color-disabled
$text-control-border-brush = $text-control-elevation-border-brush
$text-control-border-brush-pointer-over = $text-control-elevation-border-brush
$text-control-border-brush-focused = $text-control-elevation-border-brush-focused
$text-control-border-brush-disabled = $control-stroke-color-default
$text-control-foreground = $text-fill-color-primary
$text-control-foreground-pointer-over = $text-fill-color-primary
$text-control-foreground-focused = $text-fill-color-primary
$text-control-foreground-disabled = $temporary-text-fill-color-disabled
$text-control-placeholder-foreground = $text-fill-color-secondary
$text-control-placeholder-foreground-pointer-over = $text-fill-color-secondary
$text-control-placeholder-foreground-focused = $text-fill-color-secondary
$text-control-placeholder-foreground-disabled = $text-fill-color-disabled
$text-control-selection-highlight-color = $accent-fill-color-selected-text-background

text-control-border($background, $border-width) {
  border-image-border($background, $text-control-border-brush, $border-width)
}
text-control-border-focused($background, $border-width) {
  border-image-border($background, $text-control-border-brush-focused, $border-width)
}

$temporary-text-fill-color-disabled-dark = #FEFEFE5D

$text-control-background-dark = $control-fill-color-default-dark
$text-control-background-pointer-over-dark = $control-fill-color-secondary-dark
$text-control-background-focused-dark = $control-fill-color-input-active-dark
$text-control-background-disabled-dark = $control-fill-color-disabled-dark
$text-control-border-brush-dark = $text-control-elevation-border-brush-dark
$text-control-border-brush-pointer-over-dark = $text-control-elevation-border-brush-dark
$text-control-border-brush-focused-dark = $text-control-elevation-border-focused-brush-dark
$text-control-border-brush-disabled-dark = $control-stroke-color-default-dark
$text-control-foreground-dark = $text-fill-color-primary-dark
$text-control-foreground-pointer-over-dark = $text-fill-color-primary-dark
$text-control-foreground-focused-dark = $text-fill-color-primary-dark
$text-control-foreground-disabled-dark = $temporary-text-fill-color-disabled-dark
$text-control-placeholder-foreground-dark = $text-fill-color-secondary-dark
$text-control-placeholder-foreground-pointer-over-dark = $text-fill-color-secondary-dark
$text-control-placeholder-foreground-focused-dark = $text-fill-color-secondary-dark
$text-control-placeholder-foreground-disabled-dark = $text-fill-color-disabled-dark
$text-control-selection-highlight-color-dark = $accent-fill-color-selected-text-background-dark

text-control-border-dark($background, $border-width) {
  border-image-border($background, $text-control-border-brush-dark, $border-width)
}
text-control-border-focused-dark($background, $border-width) {
  border-image-border($background, $text-control-border-brush-focused-dark, $border-width)
}

$text-control-border-theme-thickness = 1px
$text-control-border-theme-thickness-focused = 2px

input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea {
  padding: 6px;
  font-family: $body-font;
  color: $text-control-foreground;
  background: $text-control-background;
  border-radius: $control-corner-radius;
  border-left: $text-control-border-theme-thickness solid $control-stroke-color-default;
  border-top: $text-control-border-theme-thickness solid $control-stroke-color-default;
  border-right: $text-control-border-theme-thickness solid $control-stroke-color-default;
  border-bottom: $text-control-border-theme-thickness solid $control-strong-stroke-color-default;

  &:not([disabled]):hover {
    color: $text-control-foreground-pointer-over;
    background: $text-control-background-pointer-over;
  }

  &:not([disabled]):active,
  &:not([disabled]):focus-within:not(:active) {
    outline: none;
    padding: 6px 6px 5px 6px;
    color: $text-control-foreground-focused;
    background: $text-control-background-focused;
    border-bottom: $text-control-border-theme-thickness-focused solid $system-accent-color-dark1;
  }

  &:disabled {
    color: $text-control-foreground-disabled;
    background: $text-control-background-disabled;
    border: $text-control-border-theme-thickness solid $text-control-border-brush-disabled;
  }

  +dark() {
    color: $text-control-foreground-dark;
    background: $text-control-background-dark;
    border-left: $text-control-border-theme-thickness solid $control-stroke-color-default-dark;
    border-top: $text-control-border-theme-thickness solid $control-stroke-color-default-dark;
    border-right: $text-control-border-theme-thickness solid $control-stroke-color-default-dark;
    border-bottom: $text-control-border-theme-thickness solid $control-strong-stroke-color-default-dark;

    &:not([disabled]):hover {
      color: $text-control-foreground-pointer-over-dark;
      background: $text-control-background-pointer-over-dark;
    }

    &:not([disabled]):active,
    &:not([disabled]):focus-within:not(:active) {
      color: $text-control-foreground-focused-dark;
      background: $text-control-background-focused-dark;
      border-bottom: $text-control-border-theme-thickness-focused solid $system-accent-color-dark1;
    }

    &:disabled {
      color: $text-control-foreground-disabled-dark;
      background: $text-control-background-disabled-dark;
      border: $text-control-border-theme-thickness solid $text-control-border-brush-disabled-dark;
    }
  }
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"] {
  padding: 6px;
  font-family: $body-font;
  color: $button-foreground;
  border-radius: $control-corner-radius;
  button-border($button-background, $button-border-theme-thickness);

  
  &:not([disabled]):hover {
    color: $button-foreground-pointer-over;
    button-border($button-background-pointer-over, $button-border-theme-thickness);
  }

  &:not([disabled]):active {
    outline: none;
    color: $button-foreground-pressed;
    background: $button-background-pressed;
    border: $button-border-theme-thickness solid $button-border-brush-pressed;
  }

  &:not([disabled]):focus-within:not(:active) {
    outline: none;
    padding: 6px 6px 5px 6px;
    color: $text-control-foreground-focused;
    background: $text-control-background-focused;
    border-left: $text-control-border-theme-thickness solid $control-stroke-color-default-dark;
    border-top: $text-control-border-theme-thickness solid $control-stroke-color-default-dark;
    border-right: $text-control-border-theme-thickness solid $control-stroke-color-default-dark;
    border-bottom: $text-control-border-theme-thickness-focused solid $system-accent-color-dark1;
  }

  &:disabled {
    color: $button-foreground-disabled;
    background: $button-background-disabled;
    border: $button-border-theme-thickness solid $button-border-brush-disabled;
  }

  +dark() {
    color: $button-foreground-dark;
    button-border-dark($button-background-dark, $button-border-theme-thickness);

    &:not([disabled]):hover {
      color: $button-foreground-pointer-over-dark;
      button-border-dark($button-background-pointer-over-dark, $button-border-theme-thickness);
    }

    &:not([disabled]):active {
      color: $button-foreground-pressed-dark;
      background: $button-background-pressed-dark;
      border: $button-border-theme-thickness solid $button-border-brush-pressed-dark;
    }

    &:not([disabled]):focus-within:not(:active) {
      color: $text-control-foreground-focused-dark;
      background: $text-control-background-focused-dark;
      border-left: $text-control-border-theme-thickness solid $control-stroke-color-default-dark;
      border-top: $text-control-border-theme-thickness solid $control-stroke-color-default-dark;
      border-right: $text-control-border-theme-thickness solid $control-stroke-color-default-dark;
      border-bottom: $text-control-border-theme-thickness-focused solid $system-accent-color-dark1;
    }

    &:disabled {
      color: $button-foreground-disabled-dark;
      background: $button-background-disabled-dark;
      border: $button-border-theme-thickness solid $button-border-brush-disabled-dark;
    }
  }
}