.footer-container {
  height: 40px;

  .footer-inner {
    background: rgb(blend($card-background-fill-color-default, $solid-background-fill-color-base));

    +dark() {
      background: rgb(blend($card-background-fill-color-default-dark, $solid-background-fill-color-base-dark));
    }
  }

  .footer-inner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: $card-background-fill-color-default;
    align-items: center;
    padding: 10px 10px;
    backdrop-filter: blur(40px);

    .left {
      float: left;
    }

    .right {
      float: right;

      @media (max-width: 194px) {
        display: none;
      }
    }

    a {
      color: $text-fill-color-primary;
      text-decoration: none;

      &:focus {
        outline: 1px dashed;
        outline-offset: 3px;
      }
    }

    +dark() {
      background: $card-background-fill-color-default-dark;
      color: $text-fill-color-primary-dark;

      a {
        color: $text-fill-color-primary-dark;
      }
    }

    +supports-light-dark() {
      background: light-dark($card-background-fill-color-default, $card-background-fill-color-default-dark);
      color: light-dark($text-fill-color-primary, $text-fill-color-primary-dark);

      a {
        color: light-dark($text-fill-color-primary, $text-fill-color-primary-dark);
      }
    }

    display: flex;
    flex-direction: row;
    font-weight: normal;
    font-size: $caption-text-block-font-size;
  }
}