@import 'categories';
@import 'tag-cloud';

:root:has(.index-hover) {
  scroll-snap-type: y mandatory;
}

.cover:has(.index-hover),
.cover:has(.index-hover)~.main {
  scroll-snap-align: start;
}

.index-hover {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .index-container {
    margin: 50px 16px;

    .index-card {
      display: flex;
      flex-direction: column;
      text-align: center;
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background: $card-background-fill-color-default;
      border: 1px solid $control-stroke-color-default;
      border-radius: $overlay-corner-radius;
      overflow: hidden;

      +dark() {
        background: $card-background-fill-color-default-dark;
        border: 1px solid $control-stroke-color-default-dark;
      }

      +supports-light-dark() {
        background: light-dark($card-background-fill-color-default, $card-background-fill-color-default-dark);
        border: 1px solid light-dark($control-stroke-color-default, $control-stroke-color-default-dark);
      }

      .description {
        .avatar-container {
          margin-bottom: 20px;

          .avatar {
            width: 150px;
            height: 150px;
            margin: 0 auto;
            border-radius: 75px;
            object-fit: cover;
          }
        }
      }

      .articles {
        display: flex;
        flex-direction: column;
        padding: 0 20px;

        .title {
          font-size: 24px;
          margin-bottom: 10px;
        }

        a {
          margin: 4px 0;
        }

        .more {
          padding: 6px 0 0 0;
        }

        @media (max-height: 688px) {
          display: none;
        }
      }
    }
  }
}